<div class="container sport-container">
    <div class="row mt-2">
        <div class="col-md-12">

            <button type="button" class="btn btn-primary btn-add" data-toggle="modal" data-target="#modelId">
                <!-- <i class="fa fa fa-plus"></i> -->
                Add Sport
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <ng-template [ngIf]="sportUpdate==null">
                                <h5 class="modal-title">Add Sport</h5>
                            </ng-template>
                            <ng-template [ngIf]="sportUpdate!=null">
                                <h5 class="modal-title">Update Sport</h5>
                            </ng-template>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="setHeading()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" [formGroup]="sportsForm">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="Sport Name">Sport Name</label>
                                    </div>
                                    <div class="colo-md-8">
                                        <input type="text"  class="form-control"  placeholder="Sport Name" Name="Name" formControlName="Name" required>
                                        <!-- <div *ngIf="isValidInput('Name')"  class="alert alert-danger">
                                            <div *ngIf="sportsForm.controls['Name'].errors.requred" class="alert-text">
                                                Sport Name Is Requred
                                            </div>
                                        </div> -->
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="Sport Logo">Sport Logo</label>
                                    </div>
                                    <div class="colo-md-8">
                                        <input type="text"    class="form-control"  placeholder="Sport Logo" Name="Logo" formControlName="Logo">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-modal-dismis" data-dismiss="modal" (click)="setHeading()">Close</button>
                            <button [disabled]="!sportsForm.valid" type="submit" class="btn btn-primary" data-dismiss="modal"
                                (click)="onFormSubmit()">Save</button>
                        </div>
                    </div>
                </div>
            </div>


            <table class="table table-striped">
                <thead class="text-black" >
                    <tr>
                        <th>Sport Id</th>
                        <th>Sport Name</th>
                        <th>Sport Logo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr *ngFor="let sport of sports">
                        <td>{{sport.SportId}}</td>
                        <td>{{sport.Name}}</td>
                        <td>
                            <div class="card" style="height: 50px !important; background-color: purple !important; width: 30% !important;">
                                <img class="card-img-top" src="{{sport.Logo}}" alt="Logo Not Available" style="height: 50px !important;">
                                <div class="card-body">
                                    <!-- <h4 class="card-title">Title</h4>
                                    <p class="card-text">Text</p> -->
                                </div>
                            </div>
                            <!-- <img src="{{sport.Logo}}" alt="Logo Not Available"> -->
                        </td>
                        <td>

                            
                            <button type="button" class="btn btn-danger"
                                (click)="deleteSport(sport.SportId)">Delete</button> |
                            <button type="button" class="btn btn-primary btn-update"   data-toggle="modal" data-target="#modelId" 
                             (click)="loadSportToEdit(sport.SportId)">Update</button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>